html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgb(255, 255, 255);
  padding: 0;

}

button {
  display: block;
  position: absolute;
  top: 600px;
  left: 47%;
}

.container-fluid:hover {
  opacity: 0.5;
  transition: 0.6s;
}

.login a {
  background-color: #fff;
  display: inline-block;
  position: absolute;
  z-index: 1;
  left: 300px;
  margin: 5px;

  padding: 2px;


}

@media (max-width: 600px) {
  div.produtos figure {
    width: 200px;
    height: 100px;
  }
}



body {
  display: flexbox;
  overflow-x: hidden;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

section {
  background-color: rgb(255, 255, 255);
}

#cab {
  position: fixed;
  display: block;
  width: 100vw;
  z-index: 1;
}

.produtos img {
  position: relative;
  display: inline-block;
  margin: 40px;
  width: 200px;
  height: 200px;
  left: 200px;
  place-items: center;
  border-radius: 5px;
  box-shadow: 5px 10px;
  border: 1px solid;
}

.logobar img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 10px;
}

#iconehome {
  position: absolute;
  align-items: flex-end;
  left: 100px;
  height: 90px;
  width: 90px;
  top: 10px;
}

#acesso {
  position: absolute;
  margin: 0;
  top: 20px;
  left: 200px;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  background-color: rgb(0, 0, 0);
  font-size: x-large;
}

#acesso2 {
  position: absolute;
  margin: 0;
  top: 20px;
  left: 350px;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  background-color: rgb(0, 0, 0);
  font-size: x-large;
}

#acesso3 {
  position: absolute;
  margin: 0;
  top: 20px;
  left: 500px;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  background-color: rgb(0, 0, 0);
  font-size: x-large;
}

.menubar {
  display: flexbox;
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 80px;
  background-color: #3586ff;
  margin: 0;
  padding: 0;
  border-style: solid 1px;
  filter: drop-shadow(1px 3px 5px);
  z-index: 1;
}

.dropdown {
  display: block;
  position: relative;
  left: 900px;
  margin-top: -50px;
}


.conteudo {
  min-height: 100%;
  margin-bottom: -50px;


}

.i {
  margin: 10px;
  left: 90px;
  position: relative;
}

#textcaixa {
  padding: 5px;
  background-color: #570083;
  position: relative;
  top: -50px;
  border: 2px solid black;
}

div.produtos figure {
  display: inline-block;
  margin: 30px;
  right: 140px;
  cursor: pointer;

}

#prod1 {
  display: inline-block;
  position: relative;

}

#prod1:hover {
  transform: scaleY(1.2);
  transition: 0.58s;
  opacity: 0.8;
}

#prod1 img {
  border-radius: 20px 2px 20px 2px;
  width: 300px;
  height: 200px;
  margin: 0;

}



#prod1 figcaption {
  position: absolute;
  top: -30px;
  right: -110px;

  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

#prod2 {
  display: inline-block;
  position: relative;
}

#prod2:hover {
  transform: scaleY(1.2);
  transition: 0.58s;
  opacity: 0.8;
}

#prod2 img {
  border-radius: 20px 2px 20px 2px;
  width: 300px;
  height: 200px;
  margin: 0;
}

#prod2 figcaption {
  position: absolute;
  top: -30px;
  right: -110px;
  text-transform: uppercase;
  font-weight: bolder;
  font-style: italic;
}

#prod3 {
  display: inline-block;
  position: relative;
}

#prod3:hover {
  transform: scaleY(1.2);
  transition: 0.58s;
  opacity: 0.8;
}

#prod3 img {
  border-radius: 20px 2px 20px 2px;
  width: 300px;
  height: 200px;
  margin: 0;
}

#prod3 figcaption {
  position: absolute;
  top: -30px;
  right: -90px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}

#prod4 {
  display: inline-block;
  position: relative;
}

#prod4:hover {
  transform: scaleY(1.2);
  transition: 0.58s;
  opacity: 0.8;
}

#prod4 img {
  border-radius: 20px 2px 20px 2px;
  width: 300px;
  height: 200px;
  margin: 0;
}

#prod4 figcaption {
  position: absolute;
  top: -30px;
  right: -80px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}

.descricao {
  text-align: center;
}

.conteu {

  height: 500px;
  width: 100vw;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 340px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.novidadest {
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  left: 550px;
  position: relative;

}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

#textmy {
  display: block;
  position: relative;
  top: 100px;
}

.bar {
  width: 70px;
  height: 17px;
  border: 2px solid #fff;
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;
}

.bar:hover {
  background-color: #fff;
}

input {
  display: none;
}

.slides {
  display: flex;
  width: 500%;
  height: 100%;
}

.slide {
  width: 20%;
  transition: .6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#slide1:checked~.s1 {
  margin-left: 0;
}

#slide2:checked~.s1 {
  margin-left: -20%;
}

#slide3:checked~.s1 {
  margin-left: -40%;
}

#slide4:checked~.s1 {
  margin-left: -60%;
}

#slide5:checked~.s1 {
  margin-left: -80%;
}

#carouselExampleCaptions {
  height: 400px;
  width: 600px;
  position: relative;
  left: 460px;
  top: 100px;
}


footer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #570083;

  padding: 5px 5px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}



footer .social,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

footer .social li,
footer .menu {
  list-style: none;
}

footer .social li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social li a:hover {
  transform: translateY(-10px);
}

footer .menu li a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer p {
  color: #fff;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer .wave {
  position: absolute;
  top: -90px;
  left: 0%;
  width: 100%;
  height: 100px;
  background: url(/image/wave.png);
  background-size: 1000px 100px;

}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave_02 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}